extends layout

block content
    div.container-fluid
        //导航
        include templates/header
        //用户面板
        div.jumbotron.userPanel
            -if(!user)
                div.container
                    div.avatar_outer
                        div.avatar_inner
                            div.avatar.nologin
                                img(src='/images/default.jpg')
                            p 你还没有登录，请先点击右上方按钮登录
                            p
                                small (Tips:登录后才可以申请加入社团或者申请创建社团!)
            -else
                div.container.row.logined
                    div.row.col-md-6
                        div.avatar
                            img(src="/images/#{user.avatar}")
                    div.basicInfo.col-md-6
                        div.row.infoRow
                            div.col-md-4 用户名:#{user.username}
                            div.col-md-4 真&nbsp;&nbsp;&nbsp;&nbsp;名:#{user.realname}
                        div.row.infoRow
                            div.col-md-4 性&nbsp;&nbsp;&nbsp;&nbsp;别:#{user.gender}
                            div.col-md-4 年&nbsp;&nbsp;&nbsp;&nbsp;龄:#{user.age}
                        div.row.infoRow
                            div.col-md-12 个人介绍:#{user.description}
                        div.row.infoRow
                            div.col-md-12 我的社团:
                                each item in ass
                                    a(href='../users/association/#{item.id}')  #{item.name}

        //新闻模块
        div.newsPanel.row
            div.container-fluid
                //新闻图片轮播
                div(class="news_carousel col-md-8 carousel slide",id="news_carousel",data-slide="carousel")
                    div.carousel-inner
                        div.item.active
                            img
                            div.carousel-caption
                    ol.carousel-indicators
                        li(data-target="#news_carousel", data-slide="0",class="active")
                //新闻列表
                div.news_list.col-md-4
                    table.table.table-responsive.table-hober
                        thead
                            th 标题
                            th 发布时间
                            th 发布者
                        tbody
                            each item in news
                                tr
                                    td #{item.title}
                                    td #{item.date.toLocaleDateString()}
                                    td #{item.kind}
        //社团列表
        div.listPanel#listPanel
            div.container-fluid
                //第一行
                div.row
                    each item in asses
                        div.item.col-md-2
                            div.thumbnail
                                img(src='/images/#{item.avatar}')
                                div.caption
                                    h3 #{item.name}
                                    p #{item.keyword}
                                    p
                                        a.btn.btn-default.btn-sm 查看主页
                                        a.btn.btn-primary.btn-sm 申请加入
                div.row
                    nav.pagePanel.col-md-6.col-md-offset-3.text-center
                        ul.pagination
                            li
                                a
                                    span &laquo;
                            li
                                a(href='index?page=1#listPanel') 1
                            li
                                a(href='index?page=2#listPanel') 2
                            li
                                a
                                    span &raquo;
                    span 没有找到你想要的社团？点击
                        a(data-toggle='modal',data-target='#a_apply') 这里
                    span 创建你自己的社团
                    div.msgBox.col-md-4.col-md-offset-8
                        -if(error)
                            div.alert.alert-danger.text-center #{error}
                        -else if(success)
                            div.alert.alert-success.text-center #{success}
                div(class='modal fade',id='a_apply')
                    div.modal-dialog
                        div.modal-content
                            div.modal-header
                                h4 申请创建社团
                            div.modal-body
                                form.form-horizontal(action='/users/applyNew',method='post',id='applyForm')
                                    div.form-group
                                        label.control-label.col-md-2 社团名称:
                                        div.col-md-8
                                            input(type='text',name='name',placeholder='请输入你想创建的社团名称',class='form-control')
                                    div.form-group
                                        label.control-label.col-md-2 关键字:
                                        div.col-md-8
                                            input(type='text',name='keyword',placeholder='请填写该社团的关键字',class='form-control')
                            div.modal-footer
                                button.btn.btn-sm.btn-default(data-dismiss='modal') 关闭
                                button.btn.btn-sm.btn-primary(form='applyForm') 申请
        //页尾
        include templates/footer
