extends layout
block content
    div.container
        include templates/header
        div.title.panel.panel-default.text-center
            h3 个人中心
        //账号信息模块
        div.accountInfoPanel.panel.panel-default
            div.panel-heading
                h4 账号信息
            div.panel-body.row
                //头像栏
                div.col-md-3
                    div.panel.panel-default
                        div.panel-heading 头像管理
                        div.panel-body.second
                            div.avatar
                                img(src="/images/#{user.avatar}")
                            form(enctype="multipart/form-data",class="formAvatar",method="post",action="changeAvatar")
                                //上传照片按钮
                                div.form-group.text-center
                                    a(href="javascript:void(0)",class="upload")
                                        input(type="file",name="avatar")
                                        span 点击更换头像
                                        input(type="hidden",value="#{user.id}",name='id')
                //用户名栏
                div.col-md-3
                    div.panel.panel-default.username
                        div.panel-heading 用户名管理
                        div.panel-body.second.text-center
                            div.infoNow
                                div
                                    span(contenteditable,class='userNameNow') #{user.username}
                                    span.glyphicon.glyphicon-edit.edit
                                div.opts.row
                                    div.col-md-6.col-md-offset-3
                                        button.btn.btn-default.btn-block 保存


                //密码管理栏
                div.col-md-3
                    div.panel.panel-default
                        div.panel-heading 密码管理
                        div.panel-body.second
                //账号类型栏
                div.col-md-3
                    div.panel.panel-default.userLevel
                        div.panel-heading 账号类型
                        div.panel-body.second.text-center
                            div.infoNow #{user.user_level}
                            small #{user.user_level == 'A'?'管理员用户':'普通用户'}
        //详细信息栏
        div.realInfoPanel.panel.panel-default
            div.panel-heading
                h4 详细信息
                button.btn.btn-default(form='InfoForm') 保存修改
                div.clearfix
            div.panel-body
                form.form-horizontal(id='InfoForm',method='post',action='changeInfo')
                    div.form-group
                        label.control-label.col-md-2 真实姓名:
                        div.col-md-3
                            input(type='text',class='form-control',value='#{user.realname}',name='realName')
                    div.form-group
                        label.control-label.col-md-2 年龄:
                        div.col-md-3
                            input(type='number',class='form-control',value='#{user.age}',name='age')
                    div.form-group
                        label.control-label.col-md-2 性别:
                        div.col-md-3
                            div.radio.col-md-2
                                label
                                    input(type="radio",name="gender",id="male",value="男" checked="#{user.gender=='男'?'checked':'unchecked'}")
                                    span 男
                            div.radio.col-md-2
                                label
                                    input(type="radio",name="gender",id="female",value="女" checked="#{user.gender=='女'?'checked':'unchecked'}")
                                    span 女
                    div.form-group
                        label.control-label.col-md-2 生日:
                        div.col-md-3
                            input(type='date',value='#{user.birthday}',name='birthday',class='form-control')
                    div.form-group
                        label.control-label.col-md-2 爱好:
                        div.col-md-6
                            div.checkbox.col-md-2
                                label
                                    input(type="checkbox",name="hobby",value="运动")
                                    span 运动
                            div.checkbox.col-md-2
                                label
                                    input(type="checkbox",name="hobby",value="音乐")
                                    span 音乐
                            div.checkbox.col-md-2
                                label
                                    input(type="checkbox",name="hobby",value="旅行")
                                    span 旅行
                            div.checkbox.col-md-2
                                label
                                    input(type="checkbox",name="hobby",value="美食")
                                    span 美食
                            div.checkbox.col-md-2
                                label
                                    input(type="checkbox",name="hobby",value="游戏")
                                    span 游戏
                            div.checkbox.col-md-2
                                label
                                    input(type="checkbox",name="hobby",value="影视")
                                    span 影视
                    div.form-group
                        label.control-label.col-md-2 个人简介:
                        div.col-md-6
                            textarea(name="description",class='form-control',rows='5') #{user.description}
        include templates/footer
        script(type="text/javascript",src="/javascripts/index.js")