extends ../../personales
block contents
    div.content.col-md-10
        //div.categoryTitle 详细信息
        div.row.box
            form.form-horizontal(id='InfoForm',method='post',action='changePersonalInfo')
                div.form-group
                    label.control-label.col-md-4 真实姓名:
                    div.col-md-5
                        input(type='text',class='form-control',value='#{user.realname}',name='realName')
                div.form-group
                    label.control-label.col-md-4 年龄:
                    div.col-md-5
                        input(type='number',class='form-control',value='#{user.age}',name='age')
                div.form-group
                    label.control-label.col-md-4 性别:
                    div.col-md-3
                        input(type='hidden',value='#{user.gender}')
                        div.radio.col-md-4
                            label
                                input(type="radio",name="gender",id="male",value="男")
                                span 男
                        div.radio.col-md-4
                            label
                                input(type="radio",name="gender",id="female",value="女")
                                span 女
                div.form-group
                    label.control-label.col-md-4 生日:
                    div.col-md-5
                        input(type='date',value='#{user.birthday}',name='birthday',class='form-control')
                div.form-group
                    label.control-label.col-md-4 爱好:
                    div.col-md-6
                        input(type='hidden',value='#{user.hobby}')
                        div.checkbox.col-md-4
                            label
                                input(type="checkbox",name="hobby",value="运动")
                                span 运动
                        div.checkbox.col-md-4
                            label
                                input(type="checkbox",name="hobby",value="音乐")
                                span 音乐
                        div.checkbox.col-md-4
                            label
                                input(type="checkbox",name="hobby",value="旅行")
                                span 旅行
                        div.checkbox.col-md-4
                            label
                                input(type="checkbox",name="hobby",value="美食")
                                span 美食
                        div.checkbox.col-md-4
                            label
                                input(type="checkbox",name="hobby",value="游戏")
                                span 游戏
                        div.checkbox.col-md-4
                            label
                                input(type="checkbox",name="hobby",value="影视")
                                span 影视
                div.form-group
                    label.control-label.col-md-4 个人简介:
                    div.col-md-5
                        textarea(name="description",class='form-control',rows='8') #{user.description}
                div.form-group
                    div.col-md-2.col-md-offset-8
                        button.btn.btn-default(form='InfoForm') 保存修改
                -if(success == '更新信息成功!')
                    script.
                        swal('更改信息成功!','success')
                -else if(success == '更新信息失败!')
                    script.
                        swal('更改信息失败!','很遗憾，更改信息失败了，请重试!', 'error')
